:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: #f5f5f5;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	background-color: #23252c;
}

div.App {
	border-radius: 0 0 15px 15px;
}

div.Info {
	border-radius: 15px 15px 0 0;
}

div.Footer {
	padding: 2%;
	margin: 0;
	background-color: #161619;
	width: 95%;
	height: auto;
	border-radius: 0 0 15px 15px;
}

div.Footer > div.icon-container {
	border-radius: 0 0 15px 15px;
	display: flex;
	justify-content: space-evenly;
	padding: 2% 0;
	margin: 0 15%;
}

div.About,
div.Interests {
	margin: 0 10% 5% 10%;
	display: flex;
	flex-direction: column;
}

div.About > h2,
div.Interests > h2 {
	align-self: flex-start;
	margin: 0;
}

div.About > p,
div.Interests > p {
	text-align: left;
	line-height: 1.5em;
	font-size: 1.2em;
	margin: 0 1%;
}

.portrait {
	width: 100%;
	border-radius: 15px 15px 0 0;
	background-color: #23252c;
}

h1 {
	font-size: 2.4em;
	line-height: 1.1;
	color: #f5f5f5;
	margin: 5% 0 0 1%;
}

h2 {
	font-size: 1.8em;
	color: #f5f5f5;
	margin: 0 0 1% 0;
}

h3 {
	color: #f3bf99;
	margin: 0 0 1% 0;
}

p {
	color: #dcdcdc;
}

.portfolio-link {
	color: #f5f5f5;
	margin: 0 0 10% 0;
}

.btn:hover {
	border-color: #646cff;
}
.btn:focus,
.btn:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.btn {
	border-radius: 5px;
	border: 1px solid transparent;
	font-size: 1em;
	padding: 2% 5%;
	margin: 2% 2% auto;
}

.btn-container {
	margin-top: 5%;
}

.email {
	background-color: #d1d5db;
	color: #374151;
}

.linkedin {
	background-color: #5093e2;
}

.btn-icon {
	height: auto;
	width: 1em;
	padding: 0 2%;
}

div.Footer > div.icon-container > a.btn {
	padding: 2% 1% 1% 0;
}

img.footer-icon {
	height: auto;
	width: 2.5em;
	padding: 0;
	margin: 15% 5%;
	color: #918e9b;
}

.email-icon {
	vertical-align: middle;
}

.linkedin-icon {
	vertical-align: text-top;
}

.Info {
	margin: 0 0 10% 0;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
